version: '3'

services:

  # Web chals
  web-5:
    container_name: web-5
    build: ./web-5
    image: registry.capture.tf:5000/wactf0x04/web-5
    ports:
      - 80:8080
    deploy:
      resources:
        limits:
          cpus: '0.10'
          memory: 80M
        reservations:
          cpus: '0.05'
          memory: 20M
    cap_drop:
      - NET_RAW

  # Crypto chals
  crypto-4:
    container_name: crypto-4
    build: ./crypto-4
    image: registry.capture.tf:5000/wactf0x04/crypto-4
    ports:
      - 80:8000
    deploy:
      resources:
        limits:
          cpus: '0.15'
          memory: 30M
        reservations:
          cpus: '0.05'
          memory: 10M
    cap_drop:
      - NET_RAW

  # Exploit chals
  exploit-2:
    container_name: exploit-2
    build: ./exploit-2/
    image: registry.capture.tf:5000/wactf0x04/exploit-2
    ports:
      - 31337:31337
      - 1337:1337
    deploy:
      resources:
        limits:
          cpus: '0.10'
          memory: 20M
        reservations:
          cpus: '0.02'
          memory: 10M
    cap_drop:
      - NET_RAW
      
  exp-4:
    container_name: exp-4
    build: ./exp-4
    ports:
      - "80:8000"
      - "81:8001/udp"
    deploy:
      resources:
        limits:
          cpus: '0.10'
          memory: 50M
        reservations:
          cpus: '0.05'
          memory: 10M
    cap_drop:
      - NET_RAW

  # Shellbox
  shellbox: # naming here is important
    restart: always
    build: ./shellbox
    container_name: shellbox
    hostname: shellbox
    image: registry.capture.tf/wactf0x04/shellbox
    ports:
      - "22:22"
      - "1337:1337"
      - "2222:2222"
      - "3333:3333"
      - "4444:4444"
      - "8000:8000"
      - "8080:8080"
      - "10000:10000"
    cap_drop:
      - ALL
    cap_add:
      - CHOWN
      - FOWNER
      - KILL
      - SETGID
      - SETUID
      - NET_BIND_SERVICE
      - SYS_CHROOT
    deploy:
      resources:
        limits:
          cpus: '0.05'
          memory: 50M
        reservations:
          cpus: '0.05'
          memory: 25M # 0: 16.82MiB / 1: 18.58MiB / 4: 23.04MiB
